.first_page {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.header-top {
  background: #313131;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-left: 29px;
  margin: 0;
  display: flex;
  align-items: center;
}

.logo_link {
  text-decoration: none;
  color: #ffffff;
}
.fav-logo {
  padding-right: 27px;
}

.main_menu {
  display: flex;
  justify-content: center;
  flex-basis: 850px;
}

.main_menu_list {
  padding: 0;
  display: flex;
  list-style: none;
  width: 100%;
}

.main_menu_list_item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}
.navbar_link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.navbar_link:hover {
  color: #14b9d5;
  transition: 0.2s linear;
}

.fav-search {
  display: flex;
  align-self: center;
  background-color: #000000;
}

.search-pic {
  padding: 27px;
}

.search-pic:hover {
  background-color: #000000;
}

.header-bottom {
  background-image: url("../pics/header-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 369px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.first_title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  color: #ffffff;
  flex-basis: 100%;
  margin: 0;
}

.wrapper_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_bottom_left_button {
  color: #ffffff;
  text-decoration: none;
  border: solid #89ca62 10px;
  background-color: #89ca62;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-right: 20px;
  padding: 4px 6px;
}

.header_bottom_right_button {
  color: #ffffff;
  text-decoration: none;
  border: solid#14B9D5 10px;
  background-color: #14b9d5;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 4px 6px;
}

.container {
  background-color: #f2f2f2;
  padding-bottom: 72px;
}

.second_title {
  display: flex;
  justify-content: center;
  color: #18b4cf;
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 49px;
  padding-bottom: 52px;
}

.posts_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  max-height: 900px;
  width: 1200px;
  margin: 0 auto;
}

.posts {
  width: 370px;
  text-decoration: none;
  margin-bottom: 20px;
}

figcaption {
  margin-top: -5px;
  font-weight: 700;
  padding: 8px 0;
  background-color: #ffffff;
  color: #353a3d;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 25px;
}

figcaption:first-child {
  margin-right: 0;
}

figure {
  width: 370px;
  margin: 0;
  padding: 0;
}

.parallax_container {
  background-image: url("../pics/parallax-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  height: 588px;
  display: grid;
  justify-content: center;
  align-content: stretch;
  align-items: start;
}

.popular_clients {
  display: grid;
  justify-items: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 32px;
  line-height: 44px;
  margin: 0;

  padding-top: 106px;
}
.partners-logo-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-column-gap: 58px;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  justify-items: center;
  width: 881px;
}

.popular_clients:after {
  display: block;
  content: "";
  border-bottom: 3px solid #18b4cf;
  width: 60px;
  margin-top: 87px;
}

.rated_block {
  /* display: grid;
  justify-content: center; */
}

.third_title {
  margin-top: 27px;
  margin-bottom: 51px;
  display: grid;
  justify-items: center;
  text-transform: uppercase;
  color: #18b4cf;
  font-size: 27px;
  line-height: 37px;
  font-weight: 700;
}

.top_rated_wrapper {
  display: grid;
  grid-auto-flow: column;
}

.news_wrapper {
  /* display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: center;
  grid-gap: 2vw;
  gap: 30px;
  grid-area: 1 / 1 / 2;  */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 77px;
}

h3 {
  margin: 0;
  text-align: right;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.title_item {
  text-align: center;
}
.item {
  text-align: right;
  padding: 15px;
}

.news_title {
  margin-top: 26px;
  margin-bottom: 51px;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-transform: uppercase;
  display: grid;
  justify-items: center;
}

.top_rated_items {
  width: 100%;
  height: auto;
}

.link {
  display: grid;
  justify-items: stretch;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
}

.link > div {
  background-color: #f9f7f7;
}

.news_link1,
.news_link8 {
  display: grid;
  grid-auto-flow: column;
}

.news_link1 {
  grid-area: 1 / 1 / 2 / 4;
}
.news_link2 {
  grid-area: 1 / 4 / 2 / 5;
}
.news_link3 {
  grid-area: 2 / 1 / 3 / 3;
}
.news_link4 {
  grid-area: 2 / 3 / 3 / 5;
}
.news_link5 {
  grid-area: 3 / 1 / 4 / 3;
}
.news_link6 {
  grid-area: 3 / 3 / 4 / 5;
}
.news_link7 {
  grid-area: 4 / 1 / 5 / 2;
}
.news_link8 {
  grid-area: 4 / 2 / 5 / 5;
}

.item7,
.item2 {
  margin-top: -3px;
}

.item2 > h3,
.item7 > h3 {
  text-align: center;
}

p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

footer {
  height: 80px;
  background-color: #000000;
}

.footer-wrapper {
  margin: 0 auto;
  width: 1170px;
  height: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr; */
  /* grid-column-gap: 600px; */
  justify-content: space-between;
  align-items: center;
  /* justify-items: center; */
}
.footer-c {
  /* padding-top: 29px;
  padding-bottom: 30px; */
  margin: 0;
  color: #ffffff;
  font-size: 13px;
  line-height: 13px;
  grid-area: 1 / 1 / 2 / 2;
}

.footer-logo {
  grid-area: 1 / 2 / 2 / 3;
  padding-top: 7px;
}
