.body_page {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

header {
  background-image: url("../images/background.png");
  background-size: cover;
  width: 100vw;
  height: 1012px;
  margin-bottom: 8px;
}

.menu {
  height: 120px;
  background: rgba(94, 93, 88, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_content {
  height: 99%;
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.logo_wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: 58px;
  height: 67px;
}

.logo_letter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  color: #fff;
  position: absolute;
  top: 17px;
  left: 13px;
  margin: 0;
}

.logo_part {
  margin-left: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #fff;
}

.logo_ham {
  color: #18cfab;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}

.menu > img {
  width: 58px;
  height: 67px;
}

.nav1_wrapper {
  display: flex;
  align-items: center;
}
.nav1_menu {
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 640px;
  margin: 0;
  height: 100%;
}

.nav1_list {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav1_link {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.nav1_link:hover {
  color: #18cfab;
  transition: 0.2s linear;
  border-bottom: 2px solid #18cfab;
}

/* хавер для навигации можно подправить и для для сёрча поставить */

.intro_title {
  width: 1160px;
  margin: 264px auto;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first_title {
  display: flex;
  flex-direction: row;
}

.intro_title > h1 {
  margin: 25px;
  padding: 35px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #fff;
}

.first_title > h3:first-child {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  color: #fff;
}

.first_title > h3:nth-child(2) {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  color: #18cfab;
  margin-left: 15px;
}

.intro_title > h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1px;
  text-transform: capitalize;
  color: #d4d4d4;
}

.btn_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 134px;
}

.left_btn {
  color: #fff;
  padding: 15px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  box-shadow: inset 0 5px #fff;
  background-color: #18cfab;
}

.right_btn {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  box-shadow: inset 0 5px #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 17px;
  border-radius: 5px;
  background-color: #00cbf6;
  margin-left: 26px;
}

/* main part */

.box_wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.box {
  /* width: 482px; */
  height: 377px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box_link1,
.box_link3 {
  color: #18cfab;
  background-color: #1c2a33;
}

.box_link2,
.box_link4 {
  color: #ffffff;
  background-color: #18cfab;
}

.box > p {
  margin-top: 50px;
}

/* our services */

.container {
  width: 1260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.service_title {
  margin: 0;
  margin-top: 83px;
  margin-bottom: 101px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.service_nav {
  width: 1160px;
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #edefef;
}

.service_menu {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.service_list {
  width: 100%;
  justify-content: center;
}

.service_list_link {
  height: 72px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  text-decoration: none;
  color: #717171;
  border: 1px solid #f2f5f6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service_list_link:hover {
  border: 1px solid #18cfab;
}

.service_list_link:hover:active {
  background-color: #18cfab;
  color: #ffffff;
}

.service_list_link:hover:active::before {
  content: "";
  border: 13px solid transparent;
  border-top: 13px solid #18cfab;
  position: absolute;
  bottom: -25px;
}

.services_chapter_wrapper {
  display: flex;
  margin-bottom: 91px;
}

.services_pic {
  width: 192px;
  height: 139px;
  margin-right: 35px;
}

.services_chapter {
  margin-right: 60px;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: #777777;
  align-items: center;
  margin-top: 23px;
  margin-left: 35px;
  display: none;
}

.active {
  display: flex;
}

.section_2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/section-2.jpg");
  background-position: center 40%;
  background-size: cover;
  height: 476px;
  width: 100vw;
}

.section_2_content {
  width: 1143px;
  margin: 0 auto;
  padding-top: 127px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec2_content_title {
  margin: 0;
  color: #18cfab;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.sec2_content_subtitle {
  margin: 0;
  padding-top: 12px;
  color: #d8d8d8;
  font-size: 16px;
  line-height: 40px;
  font-weight: normal;
}

.section_2_btn {
  margin-top: 62px;
  padding: 21px 11px 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: inset 0 5px #fff;
  background-color: #18cfab;
}

.section_3 {
  background-color: #e9edef;
}

.section_3_content {
  width: 1143px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec3_content_title {
  color: #4e4e4e;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  padding: 95px;
  position: relative;
}

.sec3_content_title::after {
  display: block;
  content: "";
  border-bottom: 2px solid #18b4cf;
  width: 80px;
  margin-top: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-25%);
}

.sec3_content_title::before {
  display: block;
  content: "";
  border-bottom: 2px solid #18b4cf;
  width: 80px;
  margin-top: 20px;
  position: absolute;
  left: 50%;
  bottom: 26%;
}

.nav2_wrap {
  margin: auto;
  width: 582px;
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}
.nav2_menu {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav2_list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
}
.nav2_link {
  border: 1px solid #dadada;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #717171;
  font-size: 14px;
  line-height: 42px;
  text-decoration: none;
}

.nav2_link:hover {
  border: 2px solid #18cfab;
}

/* починить навигацию */
/* Our amazing work */

.amazWork_pics {
  display: grid;
  grid-template-columns: repeat(4, 285px);
  grid-auto-rows: 211px;
}

.amazWork_backtitle {
  position: relative;
  height: 211px;
  background-color: #e9edef;
  background-image: url("../images/amazWork_circles.svg") no-repeat;
  float: left;
}

.thumb_amazWork > h2 {
  text-decoration: none;
  color: #18cfab;
  position: absolute;
  top: 120px;
  left: 58px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14.1771px;
  line-height: 25px;
  /* opacity: 1; */
}
.thumb_amazWork > h3 {
  text-decoration: none;
  color: #8a8a8a;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12.1518px;
  line-height: 25px;
  position: absolute;
  top: 140px;
  left: 88px;
}
.picture_amazW {
  height: 211px;
  width: 100%;
}

.backTitle:hover {
  border-top: 3px solid #18cfab;
}

.thumb_pic {
  position: absolute;
  left: 30%;
  bottom: 55%;
  z-index: 2;
}

.thumb_amazWork {
  opacity: 0;
}

.amazWork_backtitle:hover .thumb_amazWork {
  opacity: 1;
  transition: 0.2s linear;
}

.amazWork_backtitle:hover .picture_amazW:hover {
  opacity: 0;
  transition: 0.2s linear;
}

/* class for js */
.hide {
  opacity: 1;
  display: none;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

/* class for js end */

.load_more {
  margin-top: 70px;
  margin-bottom: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #18cfab;
  border: 2px solid #18cfab;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  width: 168px;
  height: 63px;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.load_more > p {
  position: absolute;
  left: 56px;
  top: -3px;
}

.plus_icon {
  position: absolute;
  left: 23px;
  top: 22px;
}

/* for js button  */
.btn_additional {
  display: none;
}

/* section 4 - Breaking News */

.section_4_content {
  width: 1143px;
  margin: 0 auto;
  padding-bottom: 129px;
}

.sec4_heading {
  text-align: center;
  color: #4e4e4e;
  margin-top: 82px;
  margin-bottom: 100px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  position: relative;
}

.break_news_grid {
  display: grid;
  grid-template-columns: repeat(4, 263px);
  grid-template-rows: repeat(2, 263px);
  gap: 35px;
}

.sec4_heading::after {
  display: block;
  width: 80px;
  content: "";
  border-bottom: 2px solid #18cfab;
  margin-top: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-35%);
}

.sec4_heading::before {
  display: block;
  content: "";
  border-bottom: 2px solid #18cfab;
  width: 80px;
  margin-top: 20px;
  position: absolute;
  left: 46%;
  bottom: -50%;
}

.break_news_link {
  text-decoration: none;
  text-align: center;
  position: relative;
}
.date_tag {
  position: absolute;
  left: 193px;
  top: -1px;
  background-color: #203e38;
  color: #fff;
  width: 70px;
  height: 68px;
}

.date_tag > p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.date_tag > p:nth-child(1) {
  margin-top: 10px;
}

.date_tag > p:nth-child(2) {
  margin-bottom: 16px;
}

.break_news_link:hover .date_tag {
  background-color: #18cfab;
  transition: 0.1s linear;
}

.break_news_link:hover > .mini_wrap > .brekN_link_container > h2 {
  color: #18cfab;
  transition: 0.1s linear;
}

/*.date_tag:hover {
  background-color: #18cfab;
  transition: 0.1s linear;
} */

.brekN_link_container {
  background-color: #f2f4f5;
  width: 264px;
  height: 72px;
}

.brekN_link_container > h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 17.9885px;
  line-height: 39px;
  color: #717171;
}

.brekN_link_container > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13.991px;
  line-height: 39px;
  color: #777777;
  display: inline;
}

.sec_5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/section-3.jpg");
  width: 100vw;
  background-repeat: no-repeat;
  height: 853px;
  background-size: cover;
  background-position: center;
}

.sec5_title {
  padding-top: 98px;
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  position: relative;
}

.person_descrip {
  text-align: center;
  color: #fff;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  width: 1160px;
  margin: 0 auto;
  padding-top: 36px;
}

.sec5_title::after {
  display: block;
  width: 80px;
  content: "";
  border-bottom: 2px solid #18cfab;
  margin-top: 24px;
  position: absolute;
  left: 48%;
  transform: translateX(-35%);
}

.sec5_title::before {
  display: block;
  content: "";
  border-bottom: 2px solid #18cfab;
  width: 80px;
  margin-top: 20px;
  position: absolute;
  left: 48%;
  bottom: -23%;
}

.sec5_icon {
  padding-top: 99px;
  margin: 0 auto;
  display: block;
}

.slider_name {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: #18cfab;
  margin-top: 34px;
  margin-bottom: 3px;
}

.slider_job {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  color: #bbbbbb;
  margin-bottom: 22px;
}

.main_person {
  box-shadow: 5px 50px 50px rgb(5 5 5 / 0%),
    -2px -10px 20px rgb(25 235 225 / 50%);
  border-radius: 95px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.main_person::after {
  content: "";
  border: 12px solid #1fdab5;
  border-spacing: 0;
  /* opacity: 0.2; */
}
/* 
.slider_ulist {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 360px;
  margin: 50px auto 100px;
  padding: 0;
} */

.slider_wrapper {
  width: 500px;
  margin: auto;
  position: relative;
}

.slider-container {
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  margin-top: 57px;
}

.slider-track {
  /* background-color: yellow; */
  display: flex;
  transition: 0.2s;
}

.slider-item {
  list-style: none;
  height: 60px;
}

.slider-buttons {
  color: #fff;
  text-align: center;
}
.btn-prev,
.btn-next {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  padding: 6px 8px;
  margin: 20px;
}

.btn-prev {
  position: absolute;
  top: 205px;
  left: -35px;
}

.btn-next {
  position: absolute;
  top: 205px;
  right: -50px;
}
.btn-next > img {
  transform: rotate(0.5turn);
}

.btn-next:hover,
.btn-prev:hover {
  /*transform: rotate(0.5turn);*/
  background-color: #18cfab;
  /* background-image: url("../images/arrow_hover.png");
  background-repeat: no-repeat;
  background-position: 50%; */
}
/* @keyframes move {
  from,
  to {
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
} */

/* 
.slider_item {
  list-style: none;
  width: 500px;
  transition: 0.2s;
}

.slider_item > img {
  margin: 20px;
  width: 60px;
  min-height: 59px; */
/* animation-name: move;
  animation-duration: 2s;
  animation-fill-mode: forwards; */
/* } */
/* 
.left_btnSl,
.right_btnSl {
  color: white;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 10px;
  margin: 15px 10px;
}

.left_btnSl:hover,
.right_btnSl:hover {
  background-color: #18cfab;
  transition: 0.1s linear; } */

.basement {
  background-color: #22353f;
  height: 118px;
  width: 100vw;
}

.base_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 326px;
  height: 100%;
  margin: 0 auto;
}

.base_wrap > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #aeaeae;
}
.base_wrap > p:nth-child(2) {
  color: #18cfab;
}

/* бордер у имени поменять */
