body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.logo_1st_part {
  font-size: 80px;
  color: #000000;
  text-decoration: none;
  line-height: 94px;
}

.logo_2nd_part {
  color: rgb(75, 202, 255);
  line-height: 94px;
}

.menu_top {
  margin: 38px auto;
  border: #2c404e 1px solid;
  background: #2c404e;
}

.menu_list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.list_item:first-child {
  margin-left: 194px;
  border-left: 1px solid #ffffff;
}

.list_item {
  flex-grow: 1;
  border-left: 1px solid #ffffff;
}

.list_item:last-child {
  margin-right: 151px;
  border-right: 1px solid #ffffff;
}

.nav_link {
  color: #ffffff;
  padding: 12px 0;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.list_item:hover {
  background-color: #222f3a;
  transition: 0.4s linear;
}

aside {
  display: flex;
  flex-basis: 344px;
}

.left_menu_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  flex-direction: column;
  border: 1px solid #000000;
  min-width: 340px;
}

.left_list_item {
  padding-left: 20px;
}

.left_nav_link {
  padding: 25px 0 25px 44px;
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  color: #000000;
  display: block;
}

.left_list_item:hover {
  background-color: #dbdbdb;
  padding-left: 40px;
  transition: 0.4s linear;
}

.content {
  display: flex;
  justify-content: space-between;
}

.main-container-test {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 850px;
}

.container {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
  margin: 0px auto;
  height: 529px;
  width: 885px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_pic {
  transition: 0.4s;
}

.container:hover > .main_pic {
  transform: scale(1.2);
}

.section {
  margin-top: 37px;
  margin-bottom: 54px;
}
.chapter:first-child {
  margin-bottom: 34px;
}

.chapter {
  font-size: 18px;
  line-height: 24px;
}

footer {
  background-color: #b4b7b9;
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}

.footer_list {
  margin: auto;
  padding-top: 10px;
  list-style: none;
  text-decoration: none;
  display: flex;
}

.footer_list_item {
  list-style: none;
}

.footer_link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  font-size: 28px;
  line-height: 28px;
  color: #000000;
}

.footer_link:hover {
  color: #3984a7;
  border-bottom: 1px solid #3984a7;
  transition: 0.1s linear;
}

p {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
}
