.body_page {
  background-color: #3a4965;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1197px;
  height: 660px;
}

table {
  table-layout: fixed;
  background-color: white;
  font-family: Arimo;
  border-collapse: collapse;
}

th {
  border-bottom: 15px solid #3a4965;
  color: #484848;
}

td {
  border: 1px solid #d7d7d7;
}

.main_title {
  color: #484848;
  font-family: Arimo;
  width: 201px;
  height: 100px;
}

.main_title > p {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  margin: 0;
}

.main_title > h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  text-transform: uppercase;
}

.title {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  width: 160px;
  height: 115px;
}

.content {
  margin-top: 25px;
}

.icon {
  position: absolute;
  top: 30px;
  right: 70px;
}

.even_color {
  background-color: #e3e3e3;
}

.odd_color {
  background-color: #f2f2f2;
}

.type {
  width: 157px;
  height: 165px;
  text-transform: uppercase;
  color: #484848;
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.type > p {
  margin: 0;
}

.title_type1,
.title_type2,
.title_type3 {
  width: 185px;
  height: 154px;
  color: #fff;
  text-transform: uppercase;
  border-bottom: hidden;
  border-left: hidden;
}

.title_type1 {
  background-color: #89c331;
  position: relative;
}

.title_type2 {
  background-color: #f04a56;
  position: relative;
}

.title_type3 {
  background-color: #20807c;
  position: relative;
}

.pr_title,
.pr_title2,
.pr_title3 {
  margin: 0;
  text-align: center;
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.price {
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;
  margin: 4px 0 13px 16px;
}

.price_tag {
  position: absolute;
  top: 55px;
  left: 60px;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.period {
  position: absolute;
  top: 62px;
  left: 95px;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  margin: 0;
}

.buy_link {
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #414141;
  padding: 10px 35px;
  margin-left: 25px;
  border: 1px solid #414141;
  border-radius: 5px;
  box-shadow: inset 0 -5px #343434;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}
