 .page__body {
  margin: auto;
  background-color:#FFFFFF;
  font-family: "Montserrat", sans-serif;
 }

 .page__header {
     width: 1280px;
     margin: 0 auto;
}

 .menu {
     margin: 0 20%;
 }

.menu_list {
    padding: 0;
    display: flex;
    list-style: none;
}

.list_item {
    margin: 10px;
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
    flex-grow: 1;
}

 .nav_link {
     margin-right: 20px;
    font-weight: 700;
    display: block;
    font-size: 18px;
    color: #FF0000;
    text-decoration: none;
     text-transform: uppercase;
     text-align: center;
 }

 .nav_link:hover {
     color: lightgray;
     transition: background 0.1s linear, color 0.1s linear;
 }

 .content {
     margin: 0 auto;
 }
 .image {
     display: block;
    width: 100%;
 }

 .title {
     margin: 40px auto;
     width: 1280px;
     text-align: center;
     text-transform: uppercase;
     color: #373737;
     letter-spacing: 3.3px;
 }

 .text1 {
     width: 1145px;
     min-height: 132px;
 }
 .text2 {
     width: 1145px;
     min-height: 216px;
 }
 article {
     padding: 10px;
     margin: auto;
     margin-bottom: 15px;
     text-align: center;
     font-family: "Montserrat", sans-serif;
     font-weight: 400;
     font-size: 16px;
     color: #373737;
     letter-spacing: 2.4px;
     line-height: 26px;
 }

 .button {
     width: 191px;
     margin: 0 auto;
     display: block;
     justify-content: center;
     background-color: #FF0000;
     color: #FFFFFF;
     text-align: center;
     font-weight: 700;
     padding: 15px 20px;
     border: 2px solid red;
     border-radius: 8px;
     text-transform: uppercase;
     text-decoration: none;
 }
 .button:hover {
     background-color: lightgray;
     border-color: lightgray;
 }

 footer {
     width: 1280px;
     margin: 0 auto;
 }

 .footer_text {
  margin-top: 70px;
  padding: 30px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}